body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* base classes */

.app{
  display: flex;
  flex-direction:column;
  align-items:center;
}


.words-sequence {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top:15vh;
}

.word-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-box {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-radius: 12%;
  border-color: black;
  width: 1.08em;
  height: 1.08em;
  margin: 0.2em 0.1em;
}

.enter-button {
  position: absolute;
}

/* state: active */
.word-box.active {
  pointer-events: all;
}

.letter-box.active {
  background-color: rgba(35, 99, 172, 0.438);
}

/* state: inactive-future */
.word-box.inactive-future {
  pointer-events: none;
}

.letter-box.inactive-future {
  background-color: rgba(0, 255, 255, 0.219);
}

/* state: inactive-previous */
.word-box.inactive-previous {
  pointer-events: none;
}

.letter-box.inactive-previous.unknown {
  background-color: rgba(53, 53, 53, 0.425);
}

.letter-box.inactive-previous.correct-wrong-place {
  background-color: rgba(196, 209, 9, 0.644);
  pointer-events: all;
}

.letter-box.inactive-previous.correct-right-place {
  background-color: rgba(14, 187, 37, 0.575);
}

/* .letter-box-input {
  font-size: 45px;
  color: black;
  margin: 0.03em 0.2em;
  max-width:1em;
  text-transform:uppercase;
  border:none;
} */

.letter-box:focus {
  outline: none;
  /* background-color:rgba(25, 23, 172, 0.473); */
}

/* keyboard  */

.simple-keyboard.myTheme1 {
  background: rgba(0, 0, 0, 0.644);
  color: white;
  text-transform: uppercase;
  margin: 2em;
  width:50vw;
  max-width:575px;
  min-width:450px;
  font-family: "Inter", sans-serif;
}

.simple-keyboard.myTheme1 .hg-button {
  background: gray;
}

