body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --background-gray: rgba(30, 30, 30, 0.5)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* base classes */

.app{
  display: flex;
  flex-direction:column;
  align-items:center;
  background-color:rgba(184, 106, 131, 0.315);
  height:100vh;
  width:100vw;
}


.words-sequence {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top:100px;
  background-color: rgb(36, 36, 36);
  border-radius:0px;
}

.word-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:7.5px;
  padding-right:7.5px;
}

#first-word {
  padding-top:7.5px;
}

#last-word {
  padding-bottom:7.5px;
}

.letter-box {
  font-size: 10vw;
  font-family: "Inter", sans-serif;
  color:  rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  border-style: solid;
  border-radius: 0;
  border-color: black;
  border-width:0.03em;
  width: 1.08em;
  height: 1.08em;
  margin: 0.075em 0.075em;
}

@media screen and (min-width: 375px) {
  .letter-box {
     font-size: 37.5px;
  }
}

@media screen and (max-width: 300px) {
  .letter-box {
     font-size: 30px;
  }
}

.enter-button {
  position:absolute;
  border-radius:0;
  height:2.6em;
  width:2.6em;
  margin-left:10px;
  margin-top:-15px;
  font-family: "Inter", sans-serif;
}

/* state: active */
.word-box.active {
  pointer-events: all;
}

.letter-box.active {
  background-color: rgb(236, 170, 170);
}

/* state: inactive-future */
.word-box.inactive-future {
  pointer-events: none;
}

.letter-box.inactive-future {
  background-color: rgb(255, 213, 227);
}

/* state: inactive-previous */
.word-box.inactive-previous {
  pointer-events: none;
}

.letter-box.inactive-previous.unknown {
  /* background-color: rgba(53, 53, 53, 0.205); */
  background-color: rgb(32, 32, 32);
}

.letter-box.inactive-previous.correct-wrong-place {
  background-color: rgb(196, 134, 0);
}

.letter-box.inactive-previous.correct-right-place {
  background-color: rgba(14, 187, 37, 0.575);
}

/* .letter-box-input {
  font-size: 45px;
  color: black;
  margin: 0.03em 0.2em;
  max-width:1em;
  text-transform:uppercase;
  border:none;
} */

.letter-box:focus {
  outline: none;
  /* background-color:rgba(25, 23, 172, 0.473); */
}

/* keyboard  */

.simple-keyboard.myTheme1 {
  background: rgba(0, 0, 0, 0.644);
  color: white;
  text-transform: uppercase;
  margin: 2em;
  width:50vw;
  max-width:575px;
  min-width:450px;
  font-family: "Inter", sans-serif;
}

.simple-keyboard.myTheme1 .hg-button {
  background: gray;
}

